root = true

[*]
trim_trailing_whitespace = true

[*.{cs,fs,fsx}]
indent_size = 4
indent_style = space

[*.{sln,csproj,fsproj,yml,props}]
indent_size = 2
indent_style = space

[*.cs]
# Disable "this." keyword qualification in code
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_prefer_collection_expression = true:warning
dotnet_style_collection_initializer = true:warning
csharp_style_prefer_primary_constructors = true:warning

# ReSharper properties
resharper_int_align_switch_expressions = true
resharper_keep_existing_invocation_parens_arrangement = false
resharper_space_within_single_line_array_initializer_braces = true
