
html { font-family: "helvetica", Helvetica, Arial }
body {
    margin:0;
    padding:0;
    border:0;
    width:100%;
    min-width:600px;
}

p{
  font-size:1.0em;
  line-height:1.6; 
  font-family:"Georgia"
}

h1{font-size:2.5em}
h2{font-size:2.0em}
h3{font-size:1.5em}

a:link { color: #4183C4; }
a:visited { color: #4183C4; }
a:hover { color: #95b7ce; }
a:active { color: #000000; }

#header h1 {
    font-size: 3em;
}

#header a {
    text-decoration:none;
    color: #000000;
}

#header img {
    border:0;
}

#footer { font-size: xx-small; text-align: center; padding: 15px; clear: both; }
#post {
    position:relative;
    clear:both;
    float:left;
    width:100%;
}
#post-index { 
    float: left;
    line-height: 1.7em;
    position: relative;
    width:21%;
    top:5em;
    background-color: #EEEEEE;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#post-content { 
    float: left;
    position: relative;
    width:71%;
    padding-left: 10px;
}

#page-navigation {
    padding-top: 2em;
    padding-bottom: 2em;
}
#page-navigation > .next {
    float: right;
}

#page-navigation > .previous {
    float: left;
}

.download {
  <!--background-color:#95b7ce;-->
  padding: 25px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.download a {
  display: block;
  font-weight: bold;
  padding-top: 10px;
}

div.highlight {
  border: 1px solid #AAAAAA;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

