html { font-family: "helvetica", Helvetica, Arial }
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-width: 600px;
}

p {
  font-size: 1.0em;
  line-height: 1.6;
}

ul {
  font-size: 1.0em;
  line-height: 1.6;
}

h1{font-size: 2.5em}
h2{font-size: 2.0em}
h3{font-size: 1.5em}

a:link { color: #365f91; text-decoration: none;}
a:visited { color: #365f91; text-decoration: none;}
a:hover { color: #365f91;text-decoration: underline;}
a:active { color: #000000; text-decoration: underline;}

#header { padding-top: 1.5em; }
#header h1 {
    font-size: 3em;
    color:#0A2D44;
}

#header a {
    text-decoration:none;
    color:#000000;
}

#header img {
    border:0;
}

#nav {
    clear: both;
    margin-top: 2em;
    font-weight: bold;
}

#nav a {
    margin: 0.7em;
}

#footer { font-size: xx-small; text-align: center; padding: 15px; clear: both; }
#post {
    position:relative;
    clear:both;
    float:left;
    width:100%;
}

#content {
    clear: both;
}
#post-index {
    float: left;
    line-height: 1.7em;
    position: relative;
    width:21%;
    top:5em;
    background-color: #ECF0F5;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#post-content {
    float: left;
    position: relative;
    width: 71%;
    padding-left: 10px;
}

#page-navigation {
    padding-top: 2em;
    padding-bottom: 2em;
}
#page-navigation > .next {
    float: right;
}

#page-navigation > .previous {
    float: left;
}

#features {
    float: left;
    position: relative;
    width:60%;
    padding: 2em;
    padding-top: 0em;
}

.sidebar {
    float: right;
    position: relative;
    width:25%;
    padding: 2em;
    padding-right: 1em;

    background-color: #ECF0F5;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar h3 {
    margin: 0px;
}

#downloads ul {
    margin: 0;
    padding: 5px;
}

.download {
    margin-bottom: 2em;
    padding-top: 0;
    padding-bottom: 1em;
}

.download a {
  display: block;
  padding-top: 1em;
  color: black;
  text-decoration: underline;
}

li.github { list-style-image: url(/images/github-16x16.png); }
li.nsubstitute { list-style-image: url(/images/nsubstitute-16x16.png); }
li.nuget { list-style-image: url(/images/nuget-16x16.png); }
li.teamcity { list-style-image: url(/images/teamcity-16x16.png); }

div.highlight {
  border: 1px solid #AAAAAA;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
}

div.feature-title {
    font-size: 1.5em;
}

div.feature-detail {
}

div.feature {
 clear:both;
}

code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

.highlight {
    box-sizing: content-box !important;
    line-height: 1.1em !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: inherit !important;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h2 {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h3 {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
  
.tooltip {
    visibility: visible;
    color: #365f91;
    background-color: #ECF0F5;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    font-size: 0.4em;
    padding: 0.6em;
    margin: 0.4em auto auto 0.6em;
    border-radius: 30px;
}

.tooltip-hidden {
    visibility: hidden;
}

/* Pygments vs style, as generated by:
 *  https://github.com/richleland/pygments-css/blob/master/vs.css
 */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sa { color: #a31515 } /* Literal.String.Affix */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
/* End pygments vs style */