
html { font-family: Helvetica, Arial }

p{
  font-size:1.0em;
  line-height:1.6; 
  font-family:Georgia  
}

h1{font-size:3.0em}
h2{font-size:2.0em}
h3{font-size:1.5em}

#Download { float: right }

pre {
  border: 1px solid #AAAAAA;
  padding: 5px;
}

pre,code {
  background-color:#E3E5EA;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}