<h2>Setting return values</h2>

<p>The following examples related to substituting for the following interface:</p>

{CODE:set_return_values.ICalculator}

<h3>For methods</h3>

<p>To set a return value for a method call on a substitute, call the method as normal, then follow it with a call to NSubstitute's <code>Returns</code> extension method.

{CODE:set_return_values.for_a_method}

<p>This will only apply to this combination of arguments, so other calls to this method will return a default value instead.</p>

{CODE:set_return_values.non_matching_args}



