name: Release packages
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build package
        run: dotnet pack src/NSubstitute/NSubstitute.csproj -o bin -p:CI=true

      - name: Upload packages
        uses: actions/upload-artifact@v5
        with:
          name: packages
          path: |
            bin/*.nupkg
            bin/*.snupkg
          retention-days: 7