name: Release documentation
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0.x
            9.0.x
            8.0.x

      - name: Setup docfx
        run: dotnet tool install -g docfx

      - name: Build documentation
        run: docfx build
        working-directory: ./docs

      - name: Upload documentation
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: |
            ./docs/_site
          retention-days: 7
          compression-level: 9
