name: Build, Test, and Format verification
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macOS-latest]
        framework: [net9.0, net8.0]
        include:
          - os: windows-latest
            framework: net462

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0.x
            8.0.x

      - name: Build
        run: dotnet build

      - name: Test
        run: dotnet test -f ${{ matrix.framework }} --no-build --no-restore

  format-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Format
        run: dotnet format --verify-no-changes